.autor-label-container {
    margin-left: 10px;
    color: #999;
    white-space: nowrap;
    align-items: center;
    display: flex;
}

.container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    cursor: pointer;
    
    background-color: #fff;
    border-color: #ccc;
    border-top: 1px solid #ccc;
    margin-left: 25px;
    margin-right: 20px;
}

.container:hover .news-publish-info-container .trash-img-container .trash-img {
    display: unset;
}

.container:hover {
    background-color: #fafafa;
}

.hour-label{
    white-space: nowrap;
}

.title-container {
    display: flex;
    flex-direction: row;
    text-align: initial;
    align-items: center;
}

.news-publish-info-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
}

.trash-img-container {
    display: flex;
    justify-content: center;
    margin-left: 50px;
    width: 20px;
    height: 20px;
}

.trash-img {
    width: 20px;
    height: 20px;
    display: none;
}
